{% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
{% endif %}

<link rel="preload" href="/jost-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/jost-700.woff2" as="font" type="font/woff2" crossorigin>

<style>
  @font-face {
    font-family: 'Jost';
    src: url('jost-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Jost';
    src: url('jost-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }

  body {
    font-family: Jost, sans-serif;
    line-height: 1.5em;
  }
</style>
